version: "3.9"

services:
  app:
    build: .
    container_name: node_app
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/usr/src/app/uploads   # persist uploaded images
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db   # persist MongoDB data
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
      - MONGO_INITDB_DATABASE=mydb

volumes:
  mongo_data:
